@page
@model NDDC_MRMS_Labs.Pages.Lab.Patient.SearchModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Employee Search</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">

                                <input type="text" asp-for="EmployeeCode" class="form-control" placeholder="Enter Employee Code" id="compnayNameinput">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <button class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
</form>
