


@if (ViewStatus == false && AddResultsViewStatus == false)
{
    
    <div class="card">
        <div class="card-header">
            <span class="float-end"><button type="button" @onclick="ToggleView" class="btn rounded-pill btn-success waves-effect waves-light">New Investigation</button></span>
            <h6 class="card-title mb-0">Investigations History</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive table-card">
                <table class="table table-nowrap table-striped-columns mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cardtableCheck">
                                    <label class="form-check-label" for="cardtableCheck"></label>
                                </div>
                            </th>
                            <th scope="col">Case Number</th>
                            <th scope="col">Test Description</th>
                            <th scope="col">Conducted By</th>
                            <th scope="col">Date Conducted</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                                    <label class="form-check-label" for="cardtableCheck01"></label>
                                </div>
                            </td>
                            <td><a href="#" class="fw-semibold">#VL2110</a></td>
                            <td>Medical Checkup</td>
                            <td>James Ruuter</td>
                            <td><span>07 Oct, 2023</span></td>
                            <td>
                                <button type="button" @onclick="ViewAddResults" class="btn btn-sm btn-primary">Add Results</button>
                                <button type="button" class="btn btn-sm btn-light">Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                                    <label class="form-check-label" for="cardtableCheck01"></label>
                                </div>
                            </td>
                            <td><a href="#" class="fw-semibold">#VL2610</a></td>
                            <td>Medical Checkup</td>
                            <td>James Ruuter</td>
                            <td><span>07 Oct, 2023</span></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary">Add Results</button>
                                <button type="button" class="btn btn-sm btn-light">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else if (ViewStatus == true && AddResultsViewStatus == false)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <span class="float-end"><button type="button" @onclick="SaveVitals" class="btn rounded-pill btn-success waves-effect waves-light">Save</button></span>
                    <h4 class="card-title mb-0 flex-grow-1">Test Results</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Test Description</label>
                            </div>

                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Conducted By</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Date Conducted</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="date" class="form-control" id="exampleInputdate">
                            </div>
                        </div>
                        
                        @*  <div class="row mb-3">
                    <div class="col-lg-3">
                    <label class="form-label">Disabilities</label>
                    </div>
                    <div class="col-lg-3">
                    <select id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                    <option selected="">Choose...</option>
                    <option>Yes</option>
                    <option>No</option>
                    </select>
                    </div>
                    </div> *@
                        @*  <div class="text-end">
                    <button type="submit" class="btn btn-primary">Add Bank</button>
                    </div> *@
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
}

@if (AddResultsViewStatus == true)
{
    <div class="card">
        <div class="card-header">
            <span class="float-end"><button type="button" @onclick="ViewAddTestResult" class="btn rounded-pill btn-success waves-effect waves-light">Add Test Result</button></span>
            <h6 class="card-title mb-0">Test Description</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive table-card">
                <table class="table table-nowrap table-striped-columns mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cardtableCheck">
                                    <label class="form-check-label" for="cardtableCheck"></label>
                                </div>
                            </th>
                            <th scope="col">Case Number</th>
                            <th scope="col">Process Name</th>
                            <th scope="col">Test Result</th>
                            <th scope="col">Result Unit</th>
                            <th scope="col">Refference Value</th>
                            <th scope="col">Date Conducted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           @*  <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                                    <label class="form-check-label" for="cardtableCheck01"></label>
                                </div>
                            </td> *@
                            <td><a href="#" class="fw-semibold">#VL2110</a></td>
                            <td>Blood Test</td>
                            <td>2.0</td>
                            <td><span>Mg</span></td>
                            <td><span>4.0</span></td>
                            <td><span>7th Oct, 2023</span></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light">Details</button>
                            </td>
                        </tr>
                        <tr>
                            @*  <td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                        <label class="form-check-label" for="cardtableCheck01"></label>
                        </div>
                        </td> *@
                            <td><a href="#" class="fw-semibold">#VL2110</a></td>
                            <td>Hermatology</td>
                            <td>2.0</td>
                            <td><span>Mg</span></td>
                            <td><span>4.0</span></td>
                            <td><span>7th Oct, 2023</span></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-light">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (AddTestResultToggle == true)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <span class="float-end"><button type="button" @onclick="SaveVitals" class="btn rounded-pill btn-success waves-effect waves-light">Save</button></span>
                    <h4 class="card-title mb-0 flex-grow-1">Test Results</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Process Category</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                                    <option selected="">Select...</option>
                                    <option>Opthamolgical</option>
                                    <option>Hermatology</option>
                                    <option>Lipid Panel</option>
                                    <option>Complete Blood Count</option>
                                    <option>Urine Analysis</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Process Name</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                                    <option selected="">Select...</option>
                                    <option>Computerized Visual Field</option>
                                    <option>Fundocopy</option>
                                    <option>Optical Coherence</option>
                                    <option>Refraction</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Test Result</label>
                            </div>

                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Result Unit</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Normal Refference Range</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Flag</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                                    <option selected="">Select...</option>
                                    <option>Normal</option>
                                    <option>Abnormal</option>
                                    <option>Severe</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Date Conducted</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="date" class="form-control" id="exampleInputdate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Time Reported On</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="time" class="form-control" id="exampleInputtime">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Conducted By</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="form-label">Diagnosis Summary</label>
                            </div>
                            <div class="col-lg-6">
                                <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                            </div>
                        </div>
                        
                        @*  <div class="text-end">
                    <button type="submit" class="btn btn-primary">Add Bank</button>
                    </div> *@
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
}


@code {

    public bool ViewStatus { get; set; }
    public bool AddResultsViewStatus { get; set; }
    public bool AddTestResultToggle { get; set; }

    public void ToggleView()
    {
        ViewStatus = true;
    }

    public void SaveVitals()
    {
        ViewStatus = false;
    }

    public void ViewAddResults()
    {
        AddResultsViewStatus = true;
    }

    public void ViewAddTestResult()
    {
        AddTestResultToggle = true;
        //AddResultsViewStatus = false;
        // AddResultsViewStatus = false;
        // ViewStatus = false;
    }

}
