@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <span class="navbar-text text-dark">Hello @Context.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value</span>
    
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
   
}
else
{
    
        <a class="btn btn-link fw-medium text-decoration-none text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    
}