@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_HomeLayout";
}
<br />
<br />
<br />
<br />
<section class="section pb-0 hero-section" id="hero">
    <div class="bg-overlay bg-overlay-pattern"></div>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-danger">CAUTION!</h1>
            <h2 class="text-danger">Your laboratory has not yet been approved.</h2>

            @*@if (Model.ShowRequestId)
            {
            <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
            }*@

            <p>
                Your registration was successfull but your Lab is yet to be approved. Contact <strong>NDDC Health Unit</strong> so you can have your lab approved.
            </p>
            <p>
                <strong>Labs that are not approved</strong>
                are restricted from gaining access to the NDDC Labs Portal
            </p>
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>

        </div>
    </div>
</section>
<br />
<br />
<br />
<br />